# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
ENV/

# Python cache
*.log
*.pot
*.pyc

# Test cache
.pytest_cache/
coverage.xml
htmlcov/
.tox/

# Environment variables & secrets
.env
.env.*
!.env.sample

# MyPy, Pylint, etc.
.mypy_cache/
.dmypy.json
.pyre/

# VSCode or PyCharm settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Database
*.sqlite3
*.sqlite
*.db

# Alembic migration files (compiled)
alembic/versions/*.pyc

# Pip/Poetry
pip-wheel-metadata/
poetry.lock

# Jupyter notebooks
.ipynb_checkpoints/

# Docker
*.pid
*.log
docker-compose.override.yml

# FastAPI static/uploads
uploads/
staticfiles/

# Pydantic generated cache (if using compiled models)
__pydantic__/ 

# PyInstaller
*.spec
dist/
build/

# Local dev tools
*.swp

# Output folders
/uploads